# OS files
.DS_Store
Thumbs.db
*.swp

# Editor files
.vscode/
.idea/

# Logs
*.log

# Temporary files
tmp/
temp/

# Hugo build artifacts
/public/
/content/recipes/*.md
/static/recipes/*.cook
/static/json/*.json
/static/schema-org/*.json
resources/_gen/

# Keep the structure
!content/recipes/_index.md
